.footermain{
    height: 50vh;
    width:100vw;
    margin-bottom: 50px;
    margin-top: 50px;
}
.footer1{
    
    text-align: center;
    
    font-family: 'Poppins', sans-serif;
   margin-bottom: 50px;
   
}
.footer2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
    font-size: 2.5rem;
    
}
.footer2 a{
    text-decoration: none;
    color: rgb(68, 140, 216);

}
.footer2 a:hover{
    color: rgb(5, 209, 228);
}
.footerdown1:hover{
    transform: scale3d(1.2, 1.2, 1.2);
    
 
 }
.footerdown1{
    
   background-color: rgb(245, 236, 243);
   width: 2vw;
   height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border:1px solid rgb(44, 173, 233);
    padding: 10px;
}
.footerdown2:hover{
    transform: scale3d(1.2, 1.2, 1.2);
    
 
 }
.footerdown2{
    
    background-color: rgb(245, 236, 243);
    width: 2vw;
    height: 5vh;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 10px;
     border:1px solid rgb(44, 173, 233);
     padding: 10px;
 }
 .footerdown3:hover{
    transform: scale3d(1.2, 1.2, 1.2);
    
 
 }
 .footerdown3{
    
    background-color: rgb(245, 236, 243);
    width: 2vw;
    height: 5vh;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 10px;
     border:1px solid rgb(44, 173, 233);
     padding: 10px;
 }
 .footerdown4:hover{
    transform: scale3d(1.2, 1.2, 1.2);
    
 
 }
 .footerdown4{
    
    background-color: rgb(245, 236, 243);
    width: 2vw;
    height: 5vh;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 10px;
     border:1px solid rgb(44, 173, 233);
     padding: 10px;
 }
.footer3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: rgb(29, 20, 9);
    font-size: 1.5rem;
    padding: 11px;
}
@media screen and (max-width: 768px){
    .footermain{
        height: 50vh;
        width:100vw;
        margin-bottom: 100px;
      
    }
    .footerdown1{
        width: 4vh;
        height: 4vh;
    }
    .footerdown2{
        width: 4vh;
        height: 4vh;
    }
    .footerdown3{
        width: 4vh;
        height: 4vh;
    }
    .footerdown4{
        width: 4vh;
        height: 4vh;
       
    }
    .footer2{
        gap:30px;
    }
    .footer3{
        font-size: 1rem;
        gap:25px;
    }
}