.home1 h1{
    font-size: 4rem;
    font-weight: 700;
    background:var(--gradient-text);
    -webkit-background-clip:text;

    -webkit-text-fill-color: transparent;
   

}

.input-cursor {
    display: inline-block;
    width: 2px;
    height: 42px;
    background-color: white;
    margin-left: 8px;
}
@keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
  }

.input-cursor { 
  animation: blink .6s linear infinite alternate;
}

.home1 h1{
    font-size: 4rem;
    font-weight: 700;
     
   

}
.main{
 
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}
   
.home4{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
 
    color: rgb(29, 20, 9);
    font-size: 2.5rem;
    gap: 10px;
}
.home2{
    
  margin-top: -30px;
    color: rgb(29, 20, 9);
    font-size: 1.2rem;
}
.home3{
    margin-top: -20px;
    color: rgb(75, 74, 72);
  
}
@media screen and (max-width:550px) {
    .main{
 
        
        
        font-family: 'Poppins', sans-serif;
        
    }    
    .home1 h1{
        font-size: 2.5rem;
        font-weight: 700;
    }
    .home3 h4{
        text-align: center;
    }
}