.projectout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
   
}
.projectout h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(4, 4, 5);
}
.projectcard1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    gap:150px;
}
.projectcard{
    background-color: rgb(251, 247, 250);
    width: 30vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid rgb(50, 152, 200);
    border-radius: 10px;
    padding: 10px;
    gap: 20px;
}
.projectcard:hover{
    transform: scale3d(1.02, 1.02, 1.02);
}
@media (max-width: 768px){
    .projectcard1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    .projectcard{
        width: 80vw;
        height: 50vh;
    }
}